# optional eslint cache
.eslintcache

# IDEA project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# Optional npm cache directory
.npm

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build/
/dist/

# dotenv environment variables file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
